<header class="feature-header">
  <img class="feature-header-image" src="../../assets/header1.jpeg" alt="">
  <div class="feature-header-storycard">
    <span>
      <h1>
        EXPRESS
      </h1>
      <h2>
        Now Online!
      </h2>
    </span>
  </div>
</header>
<div class="feature-items-container">
  <div class="feature-item"></div>
  <div class="feature-item"></div>
  <div class="feature-item"></div>
  <div class="feature-item"></div>
</div>
<div class="feature-items-container">
  <div class="feature-item feature-item-wide"></div>
  <div class="feature-item feature-item-wide"></div>
</div>