<nav>
  <span class="logo" id="logoLong">XPRESS</span>
  <span class="logo" id="logoShort">XP</span>
  <ul>
    <li id="categories">Categories</li>
    <li id="deals">Hot Deals</li>
    <li id="trending">Trending</li>
  </ul>
  <form action="">
    <input type="text" placeholder="Search">
    <button disabled></button>
  </form>
  <span id="profile">
      <svg viewBox="0 0 50 50"><path d="M9.3,44.5C13.8,48,19.3,50,25,50c5.7,0,11.3-1.9,15.7-5.5c1-0.8,1.9-1.7,2.8-2.6c9.3-10.2,8.5-26-1.7-35.3S15.8-2,6.5,8.2s-8.5,26,1.7,35.3C8.5,43.8,8.9,44.2,9.3,44.5z M25,3.3C37,3.3,46.7,13,46.7,25c0,4.9-1.6,9.6-4.6,13.4c-1.3-5.5-8.5-9.7-17.1-9.7c-8.6,0-15.7,4.2-17.1,9.7c-7.4-9.4-5.8-23,3.7-30.4C15.4,4.9,20.1,3.3,25,3.3z"/><circle cx="25" cy="16.8" r="8.1"/></svg>
  </span>
</nav>